*{
  box-sizing:border-box;
}

/*to create a background image for the logo*/
header{
 background-image:url("picture/dark-green-leaves.jpg");
  height: 300px;
  margin:2px 5px 15px 5px;
  border:2px none oldlace;
  border-radius:1%;
}
/*make the logo and job title white color and same font*/
header h1, h3{
  family-font:"Bradley Hand",cursive;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
/* this is the size of logo, my name */
header h1{
  size:70px;
}
/*size of the job title*/
header h3{
  size:25px;
}
/*sub-title: info and more about me part*/
h2{
  family-font:"DejaVu Sans",serif;
  size:40px;
  color:cadetblue;
}
/*background color of the page*/
body{
  background-color:antiquewhite;
}
/*style for the paragraph throughout the page*/
p{
  family-font:"Noto Sans","sans-serif";
  size:12px;
  line-height:20px;
  text-align:left;
}
/*contact section*/
footer {
  border:1px none olivedrab;
}
/*to align text to the center of the page*/
.center{
  text-align:center;
}
/*This is the pseudo class to change the link color at different stages*/
a:link{color:blue;}
a:visited{color:red;}
a:hover{color:green;}
a:active{color:yellow;}
.group{
  display:flex;
  flex-direction:column;
}
.item{
  flex:1;
}
@ media all and (min-width:800px){
  body{
    flex-direction:row;
  }
} 
  
